@import url('../../styles/variables.css');

@scope (.hero) {
    :scope {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(var(--grad2_start), var(--grad2_end));
        text-align: center;
        color: var(--col_white);
        border-end-start-radius: 2em;
        border-end-end-radius: 2em;
        padding: 1.5em 2em;
        gap: 1.5em;
        flex-grow: 1;
        flex-basis: 0;
    }

    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(var(--grad1_start), var(--grad1_end));
        width: 8.75em;
        height: 8.75em;
    }

    .narrative {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 100%;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 130%;
    }
    h3 {
        font-size: 1.175rem;
        line-height: 130%;
        color: var(--col_navy_200);
    }
    h4 {
        font-size: 1rem;
        line-height: 130%;
        color: var(--col_navy_200);
    }

    @media screen and (min-width: 600px) {
        :scope {
            border-start-start-radius: 2em;
            border-start-end-radius: 2em;
            gap: 2em;
            padding: 2em;
        }

        .avatar {
            width: 12.5em;
            height: 12.5em;
        }

        h1 {
            font-size: 4.5rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.175rem;
        }

        p {
            font-size: 1.175rem;
        }
    }
}
